.theme-comments-chip {
  background: #fff;
}
.theme-comments {
  background-color: #ddd;
  margin: -8px;
  padding: 20px;
  padding-bottom: 40px;
}
.theme-comments-inputs {
}

.theme-content-avater-name {
  display: block;
  color: #000;
  text-decoration: none;
}

.theme-article-card {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}
.theme-article-card-content {
  height: 120px;
	padding: 20px;
	text-decoration: none;
}


.theme-body {
	/* background-color: #bbb; */
	margin-top: 20px;
  margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 800px;
}

.theme-introduction {
	margin-bottom: 40px;
}

.theme-directory-spacer {
	width: 40px;
}
.theme-directory-item {
	padding-left: 0px!important;
}

.theme-footer-nav {
  height: 96px;
}
.theme-footer-nav-left,
.theme-footer-nav-right {
  height: 96px;
}
.theme-footer-nav-left {
  text-align: left;
}
.theme-footer-nav-right {
  text-align: right;
}
.theme-footer-nav-text {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 24px;
  padding-top: 24px;
  width: 100%;
}
.theme-footer-nav-text .mdui-icon {
  padding-top: 23px;
  width: 24px;
}
.theme-footer-nav-text .theme-footer-nav-direction {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1px;
  opacity: 0.55;
}
.theme-footer-nav-left .mdui-icon {
  float: left;
  margin-right: 10px;
}
.theme-footer-nav-right .mdui-icon {
  float: right;
  margin-left: 10px;
}
.theme-footer-nav-left .theme-footer-nav-chapter {
  margin-left: 34px;
}
.theme-footer-nav-right .theme-footer-nav-chapter {
  margin-right: 34px;
}
.mdui-theme-layout-dark .theme-footer-nav,
.mdui-theme-layout-dark .theme-footer-nav-left,
.mdui-theme-layout-dark .theme-footer-nav-right {
  background-color: #212121 !important;
}
.mdui-theme-layout-dark .theme-footer-nav-text {
  color: #fff;
}